<div *ngFor="let child of children"
     class="directory"
     (click)="setCollapsed()">

    <ng-container [ngSwitch]="child.type">

      <ng-container *ngSwitchCase="'folder'">
        <mat-icon  *ngIf="!collapsed" svgIcon="arrowRight"></mat-icon>
        <mat-icon  *ngIf="collapsed" svgIcon="arrowDown"></mat-icon>
      </ng-container>

      <ng-container *ngSwitchCase="'file'">
        <mat-icon [svgIcon]="getExtension(child.name)"></mat-icon>
      </ng-container>
    </ng-container>

    <span class="directory__label">{{child?.name}}</span>

    <app-directory *ngIf="child.type === 'folder' && collapsed"
          [level]="level + 1"
          [children]="child.children">
    </app-directory>
</div>
