<nav class="sidebar">
  <div class="sidebar__title">
    <span *ngIf="rootNode">
      {{rootNode?.name}}
    </span>
    <span *ngIf="!rootNode">
      no project opened
    </span>
  </div>

  <app-node class="sidebar__items"
            [level]="0"
            [parentNode]="rootNode">
  </app-node>

  <!-- <app-sidebar-button link="settings"
                      routerLink="/settings"
                      [activeTheme]="activeTheme"
                      [matTooltip]="'Configurações'">
    <mat-icon svgIcon="settings-icon"></mat-icon>
  </app-sidebar-button> -->
</nav>
