.node {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__content {
    display: flex;
    align-items: center;

    &:hover .node__content__delete-icon {
      display: block;
    }

    &__name {
      &:hover {
        color: #f0ebeb;
      }
    }

    &__dir-icon {
      cursor: pointer;
    }

    &__delete-icon {
      cursor: pointer;
      margin-left: auto;
      display: none;
    }
  }
}
