<div *ngFor="let node of parentNode?.children"
     class="node">

  <div class="node__content"
       [ngStyle]="{'margin-left': 20 * level + 'px'}">

    <ng-container [ngSwitch]="node.type">

      <div *ngSwitchCase="'folder'"
            class="node__content__dir-icon"
            (click)="setCollapsed(node)">

        <mat-icon *ngIf="!node.isCollapsed"
                  svgIcon="arrowRight">
        </mat-icon>
        <mat-icon *ngIf="node.isCollapsed"
                  svgIcon="arrowDown">
        </mat-icon>

      </div>

      <div *ngSwitchCase="'file'">
        <mat-icon [svgIcon]="getIconName(node.name)"></mat-icon>
      </div>

    </ng-container>

    <span class="node__content__name">{{node?.name}}</span>

    <mat-icon class="node__content__delete-icon"
              (click)="deleteNode(node.id)"
              svgIcon="x">
    </mat-icon>

  </div>

  <app-node *ngIf="node.isCollapsed"
            [parentNode]="node"
            [level]="level + 1">
  </app-node>

</div>
